{% extends 'shop/basic.html' %}

{% block title %} about us {% endblock %}
{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Freaky Shoppers</h1>
      <p> Freaky Shoppers is an Indian e-commerce company based in Kolkata, westbengal, India. It was founded by Rohit Kumar
          in 2020. The company initially focused on cloth sales,shoes sales before expanding into other product categories
          such as consumer electronics, fashion, home essentials & groceries, and lifestyle products.
          The service competes primarily with Amazon's Indian subsidiary, and the domestic rival Snapdeal.As of March 2020,
          Freaky shoppers held a 39.5% market share of India's e-commerce industry.Freaky Shoppers is significantly dominant in the sale
          of apparel (a position that was bolstered by its acquisition of Myntra), and was described as being "neck and neck"
          with Amazon in the sale of electronics and mobile phones.My cart also owns PhonePe, a mobile payments service
          based on the Unified Payments Interface (UPI).</p>
      <p><a class="btn btn-primary btn-lg" href="/shop" role="button">Shop Now &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>PRODUCT</h2>
        <p> The company initially focused on cloth sales,shoes sales before expanding into other product categories
          such as consumer electronics, fashion, home essentials & groceries, and lifestyle products.
          </p>
        <p><a class="btn btn-primary btn-lg" href="/shop" role="button">Shop &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>TRACKER</h2>
        <p>Stay updated with the status of your shipment You can track your order using your order id. Which you will
          get at the time of placing order </p>
        <p><a class="btn btn-primary btn-lg" href="/shop/tracker" role="button">Track &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>CONTACT US </h2>
        <p>For any query you can raise your query in the contact section or you can directly mail us in our mail id
        <b>shoppers.freaky@gmail.com</b>
        </p>
        <p><a class="btn btn-primary btn-lg" href="/shop/contact" role="button">Contack &raquo;</a></p>
      </div>
    </div>

  </div> <!-- /container -->

</main>


{% endblock %}
