{% extends 'shop/basic.html' %}
{% block title %} Payments {% endblock %}
{% block body %}
<h6>Canceling an order on Freaky shoppers is possible only if the item has not been shipped.
	You will not be able to cancel the order if the product is already shipped from the seller's warehouse.
If you want to cancel the order after the product has been shipped, you need to Contact to Freaky shoppers customer care and make a
request to cancel the order.</h6>
<br>

<h6>After the order has been canceled, the money will be refunded to debit card,
credit card, or internet banking account (whichever mode you have used for payment).
	In the case of  COD (Cash on Delivery),
	you will not receive any refund as you have not paid the money.</h6>
<br>
<p><a class="btn btn-primary btn-lg" href="/shop" role="button">Back to shop &raquo;</a></p>
{% endblock %}
{% block js %}
{% endblock %}