{% extends 'shop/basic.html' %}
{% block title %} Payments {% endblock %}
{% block body %}
<h1>Payments</h1><br>
<h5>How do I pay for a Freaky shopers purchase?</h5>
<br>
<p>Freaky shoppers offers you multiple payment methods. Whatever your online mode of payment, you can rest assured that freaky shopper's
trusted payment gateway partners use secure encryption technology to keep your transaction details confidential at all times.
</p>
<br>
<h5>You may use Internet Banking, Gift Card, Cash on Delivery and Wallet to make your purchase.</h5>
<br>
<p>Flipkart also accepts payments made using Visa, MasterCard, Maestro and American Express credit/debit cards
	in India and 21 other countries.</p>
<br>
<h5>Are there any hidden charges (Octroi or Sales Tax) when I make a purchase on Flipkart?</h5><br>
<p>There are NO hidden charges when you make a purchase on Flipkart.
	The prices listed for all the items are final and all-inclusive.
	The price you see on the product page is exactly what you pay.</p>
<p>Delivery charges may be extra depending on the seller policy. Please check individual seller for the same
	. In case of seller WS Retail, the ₹50 delivery charge is waived off on orders worth ₹500 and over.</p>
<br>
<h5>What is Cash on Delivery?</h5><br>
<p>If you are not comfortable making an online payment on Flipkart.com, you can opt for the Cash on Delivery
(C-o-D) payment method instead. With C-o-D you can pay in cash at the time of actual delivery of the product at your doorstep,
	without requiring you to make any advance payment online.</p>
<br>
<p>The maximum order value for a Cash on Delivery (C-o-D) payment is ₹50,000.
It is strictly a cash-only payment method. Gift Cards or store credit cannot be used for C-o-D orders.
Foreign currency cannot be used to make a C-o-D payment. Only Indian Rupees accepted.</p>
<br>

<p><a class="btn btn-primary btn-lg" href="/shop" role="button">Back to shop &raquo;</a></p>
{% endblock %}
{% block js %}
{% endblock %}